@import url(https://fonts.googleapis.com/css?family=Leckerli%20One);

ul {
    list-style: none;
}



/***MATT'S DEMO STYLE**/
:root {
	--lightgray : #E8EBE8;
	--mediumgray : #B5B8B5;
	--darkgray : #6A6B6A;
	--lightgreen : #AAEEA4;
	--darkgreen: #496B46;

}

/**NAVBAR**/
.navbar.navbar-inverse.navbar-fixed-top {
    	background-color: #AAEEA4;
}
/**END NAVBAR**/


/**INDEX PAGE**/
	.minneapolisLandscape {
		background-image: url('/public/images/minneapolis.jpg');
	}
	.searchBox {
		width: 100%;
		background-color: #E8EBE8;
		border-radius: 10px 10px 10px 10px;
		margin: 10px auto;
	}


	/**SEARCH BOX**/
	.searchBox .title {
		font-family:  "Leckerli One";
		font-size: 25px ;
	}

	/**END SEARCH BOX**/



/**END INDEX PAGE**/



.table100 {
	display: none;
}


/***END MATT'S DEMO STYLE**/


/****STYLES FOR TYPEAHEAD SEARCH COMPLETION*/
.bs-example{
	font-family: sans-serif;
	position: relative;
	margin: 50px;
}
.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 24px;
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	/*width: 396px;*/
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 24px;
	line-height: 24px;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}
/****END STYLES FOR TYPEAHEAD SEARCH COMPLETION****/


/****STYLES FOR TYPEAHEAD SEARCH COMPLETION****/


/***MEDIA QUERIES***/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.searchBox {
		width: 60%;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}