@import url(https://fonts.googleapis.com/css?family=Leckerli%20One);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

ul {
    list-style: none;
}

body {
	/*Overwrite native body padding for jade*/
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 60px;

}

.property-summary{
    padding-top: 6px;
}
.kv-icon{
    position: relative;
    top: 1px;
    width: 30px;
    height: 30px;
    margin-right: .75em;
    color: #444;
    font-size: 15px !important;
    text-align: center;
    line-height: 30px !important;
    /*background-color: #eee; */
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    background-color: #5cb85c;
    color: #fff;
}

.view-all-properties{
    margin-left: 46px;
    margin-top: -15px;
}

#AllPropertiesMap {
	width: 100%;
	height: 400px
}

.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-right-10{
    margin-right: 10px;
}
.text-align-center{
    text-align: center;
}
.no-311-calls{
   /* height: 318px;
    line-height: 318px;*/
    height: 100px;
    line-height: 100px;
    font-size: 30px;
}
.no-311-calls .kv-icon{
    height: 30px;
    width: 30px;
    line-height: 30px !important;
    font-size: 30px !important;
    background-color: #fff;
    color: #5cb85c;

}

.did-you-mean-list{
    height: 10px;
    width: 10px;
    line-height: 10px !important;
    font-size: 10px !important;
    background-color: #fff;
    color: #5cb85c;
    vertical-align: middle;
    margin-bottom: 5px;
}

.body-content {
	/*weird stuff to overwrite native padding*/
/*	margin-left: -50px;
    margin-right: -50px;
    margin-top: -9px;
padding-top: 60px;*/
}


/**MAP STYLE**/

      #mapid {
        width: 100%;
        height: 500px;
      }
/**CLUSTE STYL**/
#cluster {
	width: 1080px;
	height: 500px;
	background-color:yellow;
}
/***MATT'S DEMO STYLE**/
:root {
	--lightgray : #E8EBE8;
	--mediumgray : #B5B8B5;
	--darkgray : #6A6B6A;
	--lightgreen : #AAEEA4;
	--darkgreen: #496B46;

}

/**NAVBAR**/
/*generated here: http://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0*/
/*
.navbar-default {
  background-color: #000000;
  border-color: #000000;
}
.navbar-default .navbar-brand {
  color: #eeeeee;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #7b21ae;
}
.navbar-default .navbar-text {
  color: #eeeeee;
}
.navbar-default .navbar-nav > li > a {
  color: #eeeeee;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #7b21ae;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #eeeeee;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #7b21ae;
  background-color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #000000;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #7b21ae;
  background-color: #000000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #7b21ae;
  background-color: #000000;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #7b21ae;
  background-color: #000000;
}
.navbar-default .navbar-toggle {
  border-color: #000000;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #eeeeee;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #eeeeee;
}
.navbar-default .navbar-link {
  color: #eeeeee;
}
.navbar-default .navbar-link:hover {
  color: #7b21ae;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #eeeeee;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #7b21ae;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #7b21ae;
    background-color: #000000;
  }
}*/
/*Purple Colors: http://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0*/
.navbar-default {
  background-color: #390267;
  border-color: #390267;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #8a11d0;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #8a11d0;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #390267;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #8a11d0;
  background-color: #390267;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #390267;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #8a11d0;
  background-color: #390267;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #8a11d0;
  background-color: #390267;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #8a11d0;
  background-color: #390267;
}
.navbar-default .navbar-toggle {
  border-color: #390267;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #390267;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #8a11d0;
}

.navbar-collapse.collapse.menu {
    /*float:left;*/
    /*width:100%;*/
}

.navbar-collapse.collapse.search {
    /*float:right;*/
    /*width:100%;*/
}

li.navbar-search-li {
    /*position:absolute;
    right:15px;*/
}
.navbar-search {
    border: none;
    line-height: 27px;
    padding-left:15px;
    background-color: white;
    width: 95%;
    margin-left:10px;
    margin-right:10px;
    border-radius: 5px 5px 5px 5px;
    padding-left: 40px;
    padding-right: 29px;
    font-size:16px;
}

.navbar-search:focus {
    border:none;
/*  background-color: yellow; */
}


span.glyphicon.glyphicon-search.tablet {
    color:white;
    font-size:16px;
}


.navbar-search-glyph {
    position: absolute;
    left: 5%;
    top: 8px;
    font-size:16px;
    cursor:pointer;
    color:black;
}

   li.nav-close {
    background-color: antiquewhite;
    color: purple;
    margin-right: 4%;
    /* text-align: center; */
    cursor: pointer;
        float: right;
    border-radius: 2px;
    padding: 5px 25px 5px 25px;
    margin-top: -15px;
        margin-bottom: 7px;
        opacity: .9;
        display:none;
    }

   li.nav-close:hover {
       opacity: 1;
   }

button.transparent-button {
    background-color: transparent;
    border-color:transparent;
    cursor:default;
    border: 0px;
    outline: none;
}

div.about-cog{
    font-size: 140px;
    text-align: center;
    width: 100%;
    margin-top: 40px;
}


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #8a11d0;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #8a11d0;
    background-color: #390267;
  }
}
/**END NAVBAR**/


/**INDEX PAGE**/
	.minneapolisLandscape {
		background-image: url('/images/mpls_skyline_saint_anthony_falls.jpg');
		height: 1000px;
        background-size: cover;
        margin-top: -10px;
	}
	.searchBox {
		width: 90%;
		height: 300px;
		color:white;
		margin: 10px auto;
    position: absolute;
    top: 15%;
    left: 5%;
	}

	.block {
		border-radius: 10px 10px 10px 10px;
		background: #496B46;
  		filter: alpha(opacity=60);
  		/* IE */
        -moz-opacity: 0.6;
  		/* Mozilla */
  		opacity: 0.9;
  		/* CSS3 */
  		position: absolute;
  		top: 0;
  		left: 0;
  		height: 100%;
  		width: 100%;
	}

	.searchBoxText {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 1;

	}

	/**SEARCH BOX**/
	.searchBoxText .title {
		font-family:  "Leckerli One";
		font-size: 40px ;
		opacity: 1;
		text-align: center;
		color:  #B5B8B5;
	}

	.searchBoxText .subTitle {
		font-size:15px;
		text-transform: uppercase;
		font-family: "Montserrat";
		opacity: 1;
		text-align: center;
		color: #AAEEA4;
		margin-top:10px;
	}

	/**END SEARCH BOX**/



/**END INDEX PAGE**/
footer {
	    background-color: #6A6B6A;
	    margin-bottom: 0px;

}

footer p {
	margin-bottom: 0px;
}

footer ul {
	margin-bottom: 0px;
}

.table100 {
	display: none;
}


/***END MATT'S DEMO STYLE**/


/****STYLES FOR TYPEAHEAD SEARCH COMPLETION*/

.navbar-search .tt-query, .navbar-search .tt-hint{
    border: none;
    height: 30px;
    font-size: 16px;
}

.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	font-size: 16px;
	height: 35px;
	line-height: 35px;
	outline: medium none;
	padding: 8px 12px;
	color:black;
	width: 100%;
	font-family: "Arial";
	color: #6A6B6A;
	vertical-align: middle;
}

.homepage-search-bar-area .twitter-typeahead { /*width of input box*/
	width: 50%;
}

.navbar-search .twitter-typeahead { /*width of input box*/
	width: 90%;
}

.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
/*	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
*/}
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 350px;
}

.navbar-search .tt-dropdown-menu {
	width: 300px;
    /*These are specific to the nav-bar in small viewport */
    position: fixed !important;
    top: 90px !important;
    left: 10% !important;
}

.tt-suggestion {
	font-size: 16px;
	line-height: 24px;
	padding: 3px 20px;
    color: #496B46;
    margin-right: 10px;
    text-align: left;
}
.navbar-search .tt-suggestion {
	font-size: 16px;
}

.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}

#search {
    border-radius: 0px 0px 0px 0px;
    vertical-align: bottom;
}

.row.first, .row.second, .row.third {
	margin-left: 0px;
	margin-right: 0px;
}


.row.second, .row.third {
	text-align: center;
}

.row.second {
	margin-top: 15px;
	font-size: 15px;
}

/*Stats on the last row of the search box*/
.row.third {
	margin-top: 45px;
	font-family: "Montserrat";
	font-size:14px;

}

.row.third .col-xs-4 {
	border-top: 1px solid white;
	padding-top:10px;
	cursor:pointer;
	height:100%;
}

.row.third .col-xs-4:hover {
	color: #AAEEA4;
	border-top-color: #AAEEA4;
}

/****END STYLES FOR TYPEAHEAD SEARCH COMPLETION****/


/****STYLES FOR TYPEAHEAD SEARCH COMPLETION****/

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;

}

/*streetview stuff**/

img.streetview_property {
  max-height: 424px;
  margin: 6px auto;
      border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 1px 1px #f5f5f5;
}

div.streetview {
      background-position: 80% 29%;
    height: 320px;
    margin-top: 5px;
    /* margin: 7px 15px; */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    border: #d9d9;
    border-color: #d9d9d9;
    border-style: solid;
    border-width: 2px;
  }

div.row.landlord_properties {
  padding: 10px;
  border: 1px solid #d9d9d9;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor:pointer;
    opacity: .9;
}

div.row.landlord_properties:hover {
  opacity: 1;
  background-color: lightgoldenrodyellow;
}

h4.landlord_properties {
      border-bottom: 1px solid #d9d9d9;
    padding-bottom: 10px;
    color: gray;
}
div.landlord_streetview {
  height: 300px;
}

p.property_address {
      font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    /* margin-bottom: 12px; */
    padding-bottom: 10px;
    padding-top: -1px;
    color: cornflowerblue;
    bottom-border: 1px solid blue;
    border-bottom: 1px solid cornflowerblue;
    font-weight: bold;
}

i.glyphicon.glyphicon-home, i.glyphicon.glyphicon-calendar, i.glyphicon.glyphicon-list {
      /* padding-right: 10px; */
    background-color: #ddd;
    border-radius: 100px 100px 100px 100px;
    line-height: 15px;
    font-size: 15px;
    margin-right: 15px;
    /* text-align: center; */
    padding: 7px;
    padding-left: center;
    /* padding-left: 5px; */
}

/*div.leaflet-container {
  margin-bottom: 100px;
}
*/
/***CONTACT US***/
input.contact, textarea.contact {
  width: 250px;
  margin-top: 10px;
}

textarea.contact {
  vertical-align: top;
}

label.contact {
  width: 80px;
  margin-top: 10px;
}

button#contact {
  margin-top:15px;
  margin-left: 247px;
  cursor:pointer;
  opacity: .8;
}

button#contact:hover {
  opacity: 1;
}

/***END CONTACT US***/

img.bio-image{
    height: auto;
    width: 125px;
    border-radius: 50%;
}

.bottom-buffer-20{
    margin-bottom: 20px;
}

.bottom-buffer-40{
    margin-bottom: 40px;
}

/***END INDEX PAGE LEARN MORE ROW***/




/***MEDIA QUERIES***/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.searchBox {
		width: 60%;
		left: 19%;
	}

	.searchBox .title {
		font-size: 50px;
	}

	.searchBox .subTitle {
		font-size: 20px;
	}

	.row.second {
		margin-top: 10px;
	}

	.row.third {

		margin-top: 25px;
		font-size: 19px;
	}

	.row.third .col-xs-4 {
		padding-top: 10px;
	}

	.typeahead, .tt-query, .tt-hint, .tt-suggestion {
		font-size: 22px;
	}

    .navbar-search {
        width:300px;
        height: 30px;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 45px;
    }

    .navbar-search-glyph {
        position: absolute;
        left: 5%;
        top: 19px;
        font-size:16px;
        cursor:pointer;
        color:black;
    }

    .navbar-search .tt-dropdown-menu{
        position: absolute !important;
        top: 100% !important;
        left: 0px !important;
    }

 .navbar-collapse.collapse.menu {
    float:left;
    /*width:100%;*/
}

.navbar-collapse.collapse.search {
    float:right;
    /*width:100%;*/
}

img.streetview_property {
    margin: 24px auto;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.row.third {
		margin-top: 25px;
		font-size:20px;
	}

  img.streetview_property {
    height: 300px;
    margin: 15px auto;
  }


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.row.third {
		margin-top: 40px;
		font-size: 24px;
	}

}
