@import url(https://fonts.googleapis.com/css?family=Leckerli%20One);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

ul {
    list-style: none;
}

body {
	/*Overwrite native body padding for jade*/
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 60px;

}

.property-summary{
    padding-top: 6px;
}
.kv-icon{
    position: relative;
    top: 1px;
    width: 30px;
    height: 30px;
    margin-right: .75em;
    color: #444;
    font-size: 15px !important;
    text-align: center;
    line-height: 30px !important;
    /*background-color: #eee; */
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    background-color: #5cb85c;
    color: #fff;
}

.view-all-properties{
    margin-left: 46px;
    margin-top: -15px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-right-10{
    margin-right: 10px;
}
.text-align-center{
    text-align: center;
}
.no-311-calls{
    height: 318px;
    line-height: 318px;
    font-size: 30px;
}
.no-311-calls .kv-icon{
    height: 30px;
    width: 30px;
    line-height: 30px !important;
    font-size: 30px !important;
    background-color: #fff;
    color: #5cb85c;

}

.did-you-mean-list{
    height: 10px;
    width: 10px;
    line-height: 10px !important;
    font-size: 10px !important;
    background-color: #fff;
    color: #5cb85c;
    vertical-align: middle;
    margin-bottom: 5px;
}

.body-content {
	/*weird stuff to overwrite native padding*/
/*	margin-left: -50px;
    margin-right: -50px;
    margin-top: -9px;
padding-top: 60px;*/
}


/**MAP STYLE**/

      #mapid {
        width: 100%;
        height: 500px;
      }
/**CLUSTE STYL**/
#cluster {
	width: 1080px;
	height: 500px;
	background-color:yellow;
}
/***MATT'S DEMO STYLE**/
:root {
	--lightgray : #E8EBE8;
	--mediumgray : #B5B8B5;
	--darkgray : #6A6B6A;
	--lightgreen : #AAEEA4;
	--darkgreen: #496B46;

}

/**NAVBAR**/
/*generated here: http://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0*/
/*
.navbar-default {
  background-color: #000000;
  border-color: #000000;
}
.navbar-default .navbar-brand {
  color: #eeeeee;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #7b21ae;
}
.navbar-default .navbar-text {
  color: #eeeeee;
}
.navbar-default .navbar-nav > li > a {
  color: #eeeeee;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #7b21ae;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #eeeeee;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #7b21ae;
  background-color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #000000;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #7b21ae;
  background-color: #000000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #7b21ae;
  background-color: #000000;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #7b21ae;
  background-color: #000000;
}
.navbar-default .navbar-toggle {
  border-color: #000000;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #eeeeee;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #eeeeee;
}
.navbar-default .navbar-link {
  color: #eeeeee;
}
.navbar-default .navbar-link:hover {
  color: #7b21ae;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #eeeeee;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #7b21ae;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #7b21ae;
    background-color: #000000;
  }
}*/
/*Purple Colors: http://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0*/
.navbar-default {
  background-color: #390267;
  border-color: #390267;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #8a11d0;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #8a11d0;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #390267;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #8a11d0;
  background-color: #390267;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #390267;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #8a11d0;
  background-color: #390267;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #8a11d0;
  background-color: #390267;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #8a11d0;
  background-color: #390267;
}
.navbar-default .navbar-toggle {
  border-color: #390267;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #390267;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #8a11d0;
}

.navbar-collapse.collapse.menu {
    /*float:left;*/
    /*width:100%;*/
}

.navbar-collapse.collapse.search {
    /*float:right;*/
    /*width:100%;*/
}

li.navbar-search-li {
    /*position:absolute;
    right:15px;*/
}
.navbar-search {
    border: none;
    line-height: 27px;
    padding-left:15px;
    background-color: white;
    width: 95%;
    margin-left:10px;
    margin-right:10px;
    border-radius: 5px 5px 5px 5px;
    margin-top: 12px;
    padding-right: 29px;
}

.navbar-search:focus {
    border:none;
/*  background-color: yellow; */
}


span.glyphicon.glyphicon-search.tablet {
    color:white;
    font-size:16px;
}


.navbar-search-glyph {
    position: absolute;
    right: 5%;
    top: 20px;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #8a11d0;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #8a11d0;
    background-color: #390267;
  }
}
/**END NAVBAR**/


/**INDEX PAGE**/
	.minneapolisLandscape {
		background-image: url('/images/minneapolis.jpg');
		height: 1200px;
        background-size: cover;
        margin-top: -10px;
	}
	.searchBox {
		width: 90%;
		height: 300px;
		color:white;
		margin: 10px auto;
    position: absolute;
    top: 15%;
    left: 5%;
	}

	.block {
		border-radius: 10px 10px 10px 10px;
		background: #496B46;
  		filter: alpha(opacity=60);
  		/* IE */
        -moz-opacity: 0.6;
  		/* Mozilla */
  		opacity: 0.9;
  		/* CSS3 */
  		position: absolute;
  		top: 0;
  		left: 0;
  		height: 100%;
  		width: 100%;
	}

	.searchBoxText {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 1;

	}

	/**SEARCH BOX**/
	.searchBoxText .title {
		font-family:  "Leckerli One";
		font-size: 40px ;
		opacity: 1;
		text-align: center;
		color:  #B5B8B5;
	}

	.searchBoxText .subTitle {
		font-size:15px;
		text-transform: uppercase;
		font-family: "Montserrat";
		opacity: 1;
		text-align: center;
		color: #AAEEA4;
		margin-top:10px;
	}

	/**END SEARCH BOX**/



/**END INDEX PAGE**/
footer {
	    background-color: #6A6B6A;
	    margin-bottom: 0px;

}

footer p {
	margin-bottom: 0px;
}

footer ul {
	margin-bottom: 0px;
}

.table100 {
	display: none;
}


/***END MATT'S DEMO STYLE**/


/****STYLES FOR TYPEAHEAD SEARCH COMPLETION*/
.bs-example{
	font-family: sans-serif;
	position: relative;
	margin: 50px;
}
.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
/*	border-radius: 8px;
*/	font-size: 14px;
	height: 35px;
	line-height: 35px;
	outline: medium none;
	padding: 8px 12px;
	color:black;
	width: 100%;
	font-family: "Montserrat";
	color: #6A6B6A;
	vertical-align: middle;

}


.twitter-typeahead { /*width of input box*/
	width: 50%;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 24px;
	line-height: 24px;
	padding: 3px 20px;
    color: #496B46;
    margin-right: 10px;
    text-align: left;

}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}

#search {
    /* margin-left: 30px; */
/*    line-height: 25px;
*/
    /* position: absolute; */
    /* top: -37px; */
    /* left: 900px; */
    /* right: 4%; */
    /* top: 42%; */
    border-radius: 0px 0px 0px 0px;
    vertical-align: bottom;
}

.row.first, .row.second, .row.third {
	margin-left: 0px;
	margin-right: 0px;
}


.row.second, .row.third {
	text-align: center;
}

.row.second {
	margin-top: 15px;
	font-size: 15px;
}

/*Stats on the last row of the search box*/
.row.third {
	margin-top: 45px;
	font-family: "Montserrat";
	font-size:14px;

}

.row.third .col-xs-4 {
	border-top: 1px solid white;
	padding-top:10px;
	cursor:pointer;
	height:100%;
}

.row.third .col-xs-4:hover {
	color: #AAEEA4;
	border-top-color: #AAEEA4;
}

/****END STYLES FOR TYPEAHEAD SEARCH COMPLETION****/


/****STYLES FOR TYPEAHEAD SEARCH COMPLETION****/

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;

}



/***INDEX PAGE LEARN MORE ROW***/
div.learnMore {
	height: 500px;
	position: relative;
}
	
	div.learnMore div.col-xs-12.container {
		    /* width: 100%; */
    width: 50%;
    margin-left: 25%;
    border: 10px #A17F67 solid;
    margin-top: 4%;
    padding: 30px 30px 30px 30px;
	
	}

	div.learnMore div.col-xs-12 p#finding {
    text-align: center;
    
    text-transform: titlecase;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 70px;
        text-shadow: 2px 2px 8px #BB8D6E;

	}

	div.learnMore.purple div.arrow-down {
		  top: 500px;
  left: 50%;
    border-top: 20px solid #C4BEF1;
    z-index:1;

	}

	div.learnMore.red div.arrow-down {
		  top: 500px;
  left: 50%;
    border-top: 20px solid #F16D6B;
    z-index: 1;		
	}

	div.learnMore.red div.col-xs-12 p#finding {
		color: #F7F7CF;
	}

div.learnMore.purple {
		background-color: #C4BEF1;
}

	div.learnMore.purple div.col-xs-12 p#finding {
		color: #F1CFBB;
	}

div.learnMore.red {
	background-color: #F16D6B;
}


div.learnMore.yellow {
	background-color: #E3DF92;
}

	div.learnMore.yellow div.arrow-down {
		  top: 500px;
  left: 50%;
    border-top: 20px solid #E3DF92;
    z-index: 1;		
	}

div.learnMore.yellow div.col-xs-4 {
	font-size: 45px;
	font-family:"Leckerli One";
	text-align:center;
	margin-top:5%;
}

div.learnMore.yellow div.col-xs-4 i {
	font-size: 90px;
	margin-top:4%;
	background-color:white;
	border: 10px black solid;
	border-radius: 150px 150px 150px 150px;
	padding: 50px;
	color: #E3DF92;
	text-shadow: 2px 2px 2px  black;

}

div.learnMore.white {
	background-color:#F6FCFF;
}

div.learnMore.red-light {
	background-color: #FFB7B7;
}

div.col-xs-5.neighborhood {
	background-image: url('/images/neighborhood.jpg');
	background-size: cover;
	height: 100%;
}

div.col-xs-5.landlord {
	background-image: url('/images/landlord.jpg');
	background-size: cover;
	height: 100%;
}

p#quote {
	 font-size: 50px;
    font-family: "Montserrat";
    margin-top:10%;
       margin-left: 150px;
    width: 800px;
}

div.learnMore.red-light div.col-xs-7 p#quote{
	color: #E3DF40;
	text-shadow: 1px 1px 1px black;
  
}

div.learnMore.purple-light {
	background-color: #9A98BD;
}

div.learnMore.purple-light div.col-xs-7 p#quote {
	color: #F17C40;
	text-shadow: 1px 1px 1px black;
}

img.bio-image{
    height: auto;
    width: 125px;
    border-radius: 50%;
}

.bottom-buffer{
    margin-bottom: 20px;
}

/***END INDEX PAGE LEARN MORE ROW***/




/***MEDIA QUERIES***/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.searchBox {
		width: 60%;
		left: 19%;
	}

	.searchBox .title {
		font-size: 50px;
	}

	.searchBox .subTitle {
		font-size: 20px;
	}

	.row.second {
		margin-top: 10px;
	}

	.row.third {

		margin-top: 25px;
		font-size: 19px;
	}

	.row.third .col-xs-4 {
		padding-top: 10px;
	}

	.typeahead, .tt-query, .tt-hint {
		font-size: 22px;
	}

    .navbar-search {
        width:300px;
        margin-left: 0px;
        margin-right:0px;
    }

        .navbar-collapse.collapse.menu {
    float:left;
    /*width:100%;*/
}

.navbar-collapse.collapse.search {
    float:right;
    /*width:100%;*/
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.row.third {
		margin-top: 25px;
		font-size:20px;
	}


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.row.third {
		margin-top: 40px;
		font-size: 24px;
	}

}