extends layout

block content
   div.container
    div.row.bottom-buffer
        div.col-md-12
         div Pork Belly leverages 
          a(href= 'http://opendata.minneapolismn.gov/') Minneapolis Open Data
          |  to help renters in their housing search as well as give visiblity to landlord's properties and incident history
    div.row.bottom-buffer
        div.col-md-2.col-sm-3.col-xs-4
            img.bio-image.img-responsive.center-block(src= "https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAhwAAAAJDQ4ZGM0ZWNlLWE2NTQtNDA2OS1iMjMwLTEzMTM2MGIyN2E5MA.jpg")
        div.col-md-10.col-sm-9.col-xs-8
            h3 Matt - Software Developer 
            p Not only a software developer, but dabbles in rental properties.
            p Years of Lanlord experience: 2 years
    div.row.bottom-buffer  
         div.col-md-2.col-sm-3.col-xs-4
            img.bio-image.img-responsive.center-block(src= "https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAlpAAAAJDg3ODk2ZDc4LTg2MzAtNGVkYS04ZTk0LTEyNDdjODFjZjMzZQ.jpg")
         div.col-md-10.col-sm-9.col-xs-8
            h3 Mike - Software Developer 
            p GIS specialist, no surprise he handles the geospatial data and map creation.
            p Years of renter experience: 4 years
     div.row.bottom-buffer
         div.col-md-2.col-sm-3.col-xs-4
            img.bio-image.img-responsive.center-block(src= "https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAlwAAAAJGZhNTI3NWVmLTUzMWMtNGZjMC05OTg0LWQ4OWYzNjJjMDRjNQ.jpg")
         div.col-md-10.col-sm-9.col-xs-8
            h3 Adam - Software Developer 
            p Data focused developer who happens to know Matt & Mike.
            p Years of renter experience: 6 years