extends layout

block content

      div.minneapolisLandscape.
        <div class="searchBox">
          <div class="block"></div>
          <div class="searchBoxText">
            
            <div class="row first">
              <div class="title"></div>
              <div class="visible-xs subTitle">The first Minneapolis <br> comprehensive rental database</div>
              <div class="hidden-xs subTitle"> The first Minneapolis comprehensive rental database </div>
            </div> <!-- /row first -->

            <div class="row second">
              <form action="/check" method="POST" role="form">
                <div class="form-group">
                  <div class = "col-md-12 homepage-search-bar-area" style="padding-right:0px; padding-left:0px">  
                    <input id="search-input" type="text" name="typeahead" class="" placeholder="Search by Address" aria-describedby="sizing-addon1">
                    <button id="search" type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>                
                  </div>
                
                </div><!-- /form-group -->
              </form><!-- /input-group -->
            </div><!-- /row second -->


            <div class="hidden-xs row third">
              <div class = "col-xs-4"><p class="divider">1500 Landlords</p></div>
              <div class = "col-xs-4"><p class="divider">4000 Rental Properties </p></div>
              <div class = "col-xs-4"><p>240k Complaints</p></div>
            </div> <!--/row third-->
          </div><!--/searchBoxText-->
        </div><!--/searchBox-->
