extends layout

block content

      div.minneapolisLandscape.
        <div class="searchBox">
          <div class="block"></div>
          <div class="searchBoxText">
            
            <div class="row first">
              <div class="title">#{title} </div>
              <div class="subTitle"> The First Minneapolis Comprehensive Rental Database </div>
            </div> <!-- /row first -->

            <div class="row second">
              <form action="/check" method="POST" role="form">
                <div class="form-group">
                  <div class = "col-md-12 homepage-search-bar-area">  
                    <input id="search-input" type="text" name="typeahead" class="" placeholder="Search by Address" aria-describedby="sizing-addon1">
                    <button id="search" type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>                
                  </div>
                
                </div><!-- /form-group -->
              </form><!-- /input-group -->
            </div><!-- /row second -->


            <div class="row third">
              <div class = "col-xs-4">1500 Landlords</div>
              <div class = "col-xs-4">4000 Rental Properties</div>
              <div class = "col-xs-4">23 Million Complaints</div>
            </div> <!--/row third-->
          </div><!--/searchBoxText-->
        </div><!--/searchBox-->
