extends layout

block content
  h1= title
  p 100 Rental Properties in Minneapolis

  ul
    - for (var i = 0, len = results.length; i<len; i ++) {
      li Address: #{results[i].Address}
      li Manager: #{results[i].APP_NAME}
      li _______________________________
        
      - }


