doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - 311 Calls from Minneapolis Rental Properties
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet',href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/dataTables.bootstrap.min.css')
    link(rel='stylesheet',href='/stylesheets/global.css')
    link(rel='stylesheet', href='/stylesheets/leaflet.css')

    link(rel='stylesheet', href='/stylesheets/addressSearch.css')
    link(rel='stylesheet', href='/stylesheets/landlordSearch.css')

    //link(rel="icon" type="image/x-icon" href="/favicon.ico")

 
  body
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle(type='button',data-toggle='collapse',data-target='.navbar-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') Pork Belly
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href='/') Home
                    li
                        a(href='/about') About
                    li
                        a(href='/contact') Contact
    
    .body-content
        block content
 


include footer
    
    script(src="/javascripts/jquery-3.1.0.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/typeahead.min.js")
    script(src="/javascripts/jquery.dataTables.min.js")
    script(src="/javascripts/dataTables.bootstrap.min.js")
    script(src="/javascripts/global.js")
    script(src="https://use.fontawesome.com/bca7d337a3.js")


    block script
           