doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - 311 Calls from Minneapolis Rental Properties
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet',href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/dataTables.bootstrap.min.css')
    link(rel='stylesheet',href='/stylesheets/global.css')
    link(rel='stylesheet', href='/stylesheets/leaflet.css')

    link(rel='stylesheet', href='/stylesheets/addressSearch.css')
    link(rel='stylesheet', href='/stylesheets/landlordSearch.css')

    //link(rel="icon" type="image/x-icon" href="/favicon.ico")


  body
    .navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header

                button.menu.navbar-toggle(type='button',data-toggle='collapse',data-target='.navbar-collapse.collapse.menu')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                if path !== "/"
                    button.search.navbar-toggle(type='button',data-toggle='collapse',data-target='.navbar-collapse.collapse.search')
                        span.glyphicon.glyphicon-search.tablet
                a.navbar-brand(href='/') Pork Belly

            .navbar-collapse.collapse.menu
                ul.nav.navbar-nav
                    li
                        a(href='/') Home
                    li
                        a(href='/about') About
                    li
                        a(href='/contact') Contact

                    li.hidden-md.hidden-lg.nav-close.menu.navbar-toggle(type='button',data-toggle='collapse',data-target='.navbar-collapse.collapse.menu') Close

            if path !== "/"
                .navbar-collapse.collapse.search
                        if path !== "/"
                            ul.nav.navbar-nav
                                li.navbar-search-li.
                                    <form action="/check" method="POST" role="form">
                                          <div class="navbar-search">
                                              <input id="search-input" type="text" name="typeahead"  placeholder="Search by Address" aria-describedby="sizing-addon1">
                                              <button type="submit" class="transparent-button">
                                                <span class="glyphicon glyphicon-search navbar-search-glyph" aria-hidden="true"></span>
                                              </button>
                                              <span class="glyphicon glyphicon-remove navbar-remove-glyph" aria-hidden="true"></span>
                                          </div>
                                    </form><!-- /input-group -->
                                li.hidden-md.hidden-lg.nav-close.search.navbar-toggle(type='button',data-toggle='collapse',data-target='.navbar-collapse.collapse.search') Close



    .body-content
        block content


include footer

    script(src="/javascripts/jquery-3.1.0.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/typeahead.min.js")
    script(src="/javascripts/jquery.dataTables.min.js")
    script(src="/javascripts/dataTables.bootstrap.min.js")
    script(src="/javascripts/global.js")
    script(src="https://use.fontawesome.com/bca7d337a3.js")

    script(type='text/javascript').
        $(document).ready(function() {
                //autocomplete the search box
                $ ('#search-input').typeahead({
                    remote: '/search?key=%QUERY',
                    limit: 10
                });
            });
    block script
